.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.backgroundImage {
  width: 100%;
  height: 40%;
  /* opacity: 0.9; */
  filter: grayscale(40%) invert(75%);
}

.logo {
  max-width: 60%;
  /* position: absolute; */
  /* opacity: 0.9; */
  /* filter: contrast(200%); */
  /* backdrop-filter: blur(10px); */
  /* filter: drop-shadow(16px 16px 100px #d42990); */
}

.link {
  margin: 10px;
}

.btn {
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 1.5em;
  transition: 0.3s;
  /* border: solid 2px black; */
}

@media only screen and (min-width: 600px) {
  .header h2 {
    font-size: 10em;
    margin-bottom: 0.8rem;
  }
  .header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .btnContainer {
    margin: 2em;
    display: flex;
    flex-direction: row;
  }

  .btn {
    padding: 8px 8px;
    margin: 20px;
    min-width: 200px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .header h2 {
    font-size: 6em;
    margin-bottom: 0.5rem;
  }
  .header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .btnContainer {
    margin: 1em;
    display: flex;
    flex-direction: row;
  }

  .btn {
    padding: 8px 8px;
    margin: 15px;
    min-width: 100px;
    max-width: 150px;
  }
}

.btn:hover {
  background: #2196f3;
  color: white;
  /* border: solid 2px white; */
  /* box-shadow: rgba(151, 151, 151, 0.45) 20px 15px 15px -0px; */
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  filter: blur(0.5px);
}
